<header class="header home-header">
    <div class="container">
      <nav class="nav-bar">
        <label for="toggle">
          <i class="fa fa-bars"></i>
        </label>
        <input type="checkbox" id="toggle" />
        <ul class="menu-list">
          <li><a href="/" id="active">home</a></li>
          <li><a href="/about">about me</a></li>
          <li><a href="/work">work</a></li>
          <li><a href="/blog">blog</a></li>
          <li><a href="/contact">contact</a></li>
        </ul>
      </nav>
    </div>
  </header>