<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <meta name="description" content="Home page of portfolio">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/custom.css">
  </head>
  <body>

    <!-- START HEADER -->
    {% include header.html %}

    <!-- START MAIN SECTION -->
    <main class="bg-img">
      <section class="home-hero">
        <div class="home-data">
          <span class="home-user-name">Komal Raj</span>
          <p class="home-para">I'm web devloper and focused on crafting clean  & user‑friendly experiences.</p>
        </div>
        <section class="container">
        </section>
      </section>
    </main>

    <!-- START FOOTER -->
    <footer class="footer">
      <div class="container">
        <span>
          <small>&copy; 2018 by komal raj</small>
        </span>
      </div>
    </footer>
  </body>
</html>