<!DOCTYPE html>
<html>
<head>
  <title></title>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="assets/custom.css">
</head>
<body>

  <!-- START HEADER -->
  <header class="header wrapper">
    <div class="container">
      <span class="header-user-name">Komal Raj</span>
      <nav class="nav-bar">
        <label for="toggle">
        <i class="fa fa-bars"></i></label>
        <input type="checkbox" id="toggle" />
        <ul class="menu-list">
          <li><a href="./index.html">home</a></li>
          <li><a href="./about-me.html">about me</a></li>
          <li><a href="./work.html">work</a></li>
          <li><a href="./blog.html">blog</a></li>
          <li><a href="./contact.html">contact</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <!-- MAIN SECTION -->
  <main class="container wrapper">
    <h2 class="heading">About Me</h2>
    <div class="img">
      <img src="assets/media/about/about-img.jpg" alt="komal Image" class="about-img">
    </div>
    <!-- ABOUT-ME PARA -->
    <article>
      <p class="about_para">Hello My self Komal Raj and from Muzaffarpur Bihar.I am currentely joined Altcampus in Dharmsala and increasing  my self in all that the great place Rakkar.I am a beginner Web Devloper. My goal in life is to always love what I'm doing.This include my study, my work and my past time, i want to love it all.</p>
    </article>
    <!-- EDUCATION SECTION -->
    <section>
      <h3 class="sub-heading">
        <i class="fas fa-graduation-cap logo"></i>
        EDUCATION
      </h3>
      <div class="education_detail">
        <div class="education__session">
          <p class="list date">2013-2016</p>
          <p class="list campus">BRAB University</p>
          <p class="list place">Muzaffarpur</p>
          <p class="list">Bachelor's of Computer Application (BCA)</p>
        </div>
        <div class="education__session">
          <p class="list date">2018</p>
          <p class="list campus">AltCampus</p>
          <p class="list place">Himachal Pradesh</p>
          <p class="list">Programming Course<br/><p>Coursework - Git, HTML,CSS,<br/> Javascript, iOS, Android.</p>
          </li>
        </div>
      </div>    
    </section>
    <!-- SKILL SECTION -->
    <section>
      <div class="skill">
        <h3 class="sub-heading">
          <i class="fas fa-edit logo"></i>
            MY SKILL
        </h3>
        <div class="skill-list">
          <div class="sub-skill-list">
            <table>
              <tr>
                <td>Photoshop: </td>
                <td><progress class="bar" value="50" max="100"></td>
              </tr>
              <tr>
                <td>C Language: </td>
                <td><progress class="bar" value="70" max="100"></td>
              </tr>
              <tr>
                <td>C++ Language: </td>
                <td><progress class="bar" value="45" max="100">td/p>
              </tr>
              <tr>
                <td>Data Structure: </td>
                <td><progress class="bar" value="60" max="100">td/p>
              </tr>
            </table>
          </div>
          <div class="sub-skill-list">
            <table>
              <tr>
                <td>Web Design: </td>
                <td><progress class="bar" value="40" max="100"></td>
                </tr>
                <tr>
                <td>HTML: </td>
                <td><progress class="bar" value="90" max="100"></td>
                </tr>
                <tr>
                <td>CSS: </td>
                <td><progress class="bar" value="85" max="100"></td>
                </tr>
                <tr>
                <td>Java Script: </td>
                <td><progress class="bar" value="20" max="100"></td>
                </tr>
            </table>
           </div>
      </div>
    </section>
  </main>
  <!-- START FOOTER -->
  <footer class="footer wrapper">
    <div class="container">
      <span>
        <small>&copy; 2018 by komat raj</small>
      </span>
      <nav class="foot-nav-bar">
        <ul>
          <li><a href="https://github.com/kml1326">
            <i class="fab fa-github-square foot-logo"></i>
          </a></li>
          <li><a href="https://www.facebook.com/komal.raj13">
            <i class="fab fa-facebook foot-logo"></i>
          </a></li>
          <li><a href="https://twitter.com/kml_1326">
            <i class="fab fa-twitter foot-logo"></i>
          </a></li>
        </ul>
      </nav>
    </div>
  </footer>
</body>
</html>