<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="assets/custom.css">
</head>
<body>

  <!-- START HEADER -->
	<header class="header">
		<div class="container">
			<span class="header-user-name">Komal Raj</span>
			<nav class="nav-bar">
        <i class="fa fa-bars" for="toggle"></i>
        <input type="checkbox" id="toggle" />
        <ul class="menu-list">
					<li><a href="index.html">home</a></li>
					<li><a href="about.html">about me</a></li>
					<li><a href="work.html">work</a></li>
					<li><a href="blog.html">blog</a></li>
					<li><a href="contact.html">contact</a></li>
				</ul>
			</nav>
		</div>
	</header>

  <!-- MAIN SECTION -->
	<main class="container">
    <h2 class="heading">My Projects</h2>

    <!-- WORK GALLERY -->
    <section class="work-gallery">
      <!-- WORK IMAGE-1 -->
      <div class="work_album">
        <img class="work__image" src="assets/media/work/2.png" alt="work-image1">
       <!--  <div class="work_album__details">
          <h5 class="image__type">HTML</h5>
          <p class="album__desc">This layout create only using HTML.</p>
          <p>GitHub link:-<a href="https://github.com/kml1326/html_css_practice/commits/master" class="work__link">https://github.com/kml1326/html_css_practice/commits/ma</a></p>
        </div> -->
      </div>
      <!-- WORK IMAGE-2 -->
      <div class="work_album">
        <img class="work__image" src="assets/media/work/3.png" alt="work-image2">
        <!-- <div class="work_album__details">
        <h5 class="image__type">Box Model</h5>
        <p class="album__desc">Using Box Model properties in css.Box model is a important part for create any layout.</p>
        <p>GitHub link:-<a href="https://github.com/kml1326/html_css_practice/commits/master" class="work__link">https://github.com/kml1326/html_css_practice/commits/master</a></p>
        </div> -->
      </div>
      <!-- WORK IMAGE-3 -->
      <div class="work_album">
        <img class="work__image" src="assets/media/work/4.png" alt="work-image3">
        <!-- <div class="work_album__details">
        <h5 class="image__type">Positioning</h5>
        <p class="album__desc">In this layout, I used position property and clearfix.</p>
        <p>GitHub link:-<a href="https://github.com/kml1326/html_css_practice/commits/master" class="work__link">https://github.com/kml1326/html_css_practice/commits/master</a></p>
        </div> -->
      </div>
      <!-- WORK-IMAGE-4 -->
      <div class="work_album">
        <img class="work__image" src="assets/media/work/5.png" alt="work-image4">
        <!-- <div class="work_album__details">
        <h5 class="image__type">Gradients</h5>
        <p class="album__desc">Loren ipsum dolor sit amet consectetur adipisicing elit. Ipsum sed sint doloremque repellat, iste debitis.</p>
        <p>GitHub link:-<a href="https://github.com/kml1326/html_css_practice/commits/master" class="work__link">https://github.com/kml1326/html_css_practice/commits/master</a></p>
        </div> -->
      </div>
       <!-- WORK-IMAGE-5 -->
      <div class="work_album">
        <img class="work__image" src="assets/media/work/6.png" alt="work-image4">
        <!-- <div class="work_album__details">
        <h5 class="image__type">Gradients</h5>
        <p class="album__desc">Loren ipsum dolor sit amet consectetur adipisicing elit. Ipsum sed sint doloremque repellat, iste debitis.</p>
        <p>GitHub link:-<a href="https://github.com/kml1326/html_css_practice/commits/master" class="work__link">https://github.com/kml1326/html_css_practice/commits/master</a></p>
        </div> -->
      </div>
       <!-- WORK-IMAGE-6 -->
      <div class="work_album">
        <img class="work__image" src="assets/media/work/7.png" alt="work-image4">
        <!-- <div class="work_album__details">
        <h5 class="image__type">Gradients</h5>
        <p class="album__desc">Loren ipsum dolor sit amet consectetur adipisicing elit. Ipsum sed sint doloremque repellat, iste debitis.</p>
        <p>GitHub link:-<a href="https://github.com/kml1326/html_css_practice/commits/master" class="work__link">https://github.com/kml1326/html_css_practice/commits/master</a></p>
        </div> -->
      </div>
    </section>
	</main>

  <!-- START FOOTER -->
	<footer class="footer">
    <div class="container">
      <span>
        <small>&copy; 2018 by komat raj</small>
      </span>
    </div>
  </footer>
</body>
</html>